[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.13.3"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
install  = "ansible-galaxy install -r requirements.yml"
deploy   = "ansible-playbook site.yml"
destroy  = "ansible-playbook remove.yml"
